@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Work+Sans:wght@300&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    /* font-size: 55px; */
    font-size:3.5em;
}

h3 {
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Crimson Text', serif;
}